.BathroomPageBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.BathroomPageBox .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}