.BathroomPageBox{
    height: 1000px;
}

.BathroomPageBox .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.BathroomPageBox button{
    display: block;
}

.BathroomPageBox .MapsContainer{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    margin-bottom: -620px;
}
